[Desktop Entry]
Type=Application
Name=SelladoMX
Comment=Firma digital de documentos PDF con e.firma
Exec=selladomx %u
Icon=icon-linux
Terminal=false
Categories=Office;
MimeType=x-scheme-handler/selladomx;
StartupWMClass=selladomx
